#virtual env
.env/
venv
#cache files
meprestamos/__pycache__
core/migrations/
core/__pycache__

#media files
media/

#staticfiles
staticfiles/

#gunicorn-log
logs/
changes.txt
tmp

.dockerignore
.env
.github/
SECRETS.PY
fly.toml