{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="card-general">
        <div class="table-container">
            <h2>Ultimos pagos</h2>
            <div style="display: grid; grid-template-columns: 1fr auto; margin-bottom: 10px;">
                <div></div>
            <input type="text" id="searchInputPagos" placeholder="Buscar por cliente..." class="form-control" style="margin-bottom: 10px; max-width: 100%; ">
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="th sort-both">Id</th>
                        <th class="th sort-both">Cliente</th>
                        <th class="th sort-both">Fecha de pago</th>
                        <th class="th sort-both">Moneda</th>
                        <th class="th sort-both">Tipo de pago</th>
                        <th class="th sort-both">Referencia</th>
                        <th class="th sort-both">Monto</th>
                        <th class="th sort-both">Préstamo</th>
                        <th class="th sort-both">Acciones</th>
                    </tr>
                </thead>
                <tbody id="pagosTbody">
                        {% for pago in pagos %}
                        <tr>
                            <td>{{ pago.id }}</td>
                            <td>{{ pago.cliente.nombre }} {{ pago.cliente.apellido }}</td>
                            <td>{{ pago.fecha_pago }}</td>
                            <td>{{ pago.moneda }}</td>
                            <td>{{ pago.tipo_pago }}</td>
                            <td>{{ pago.referencia }}</td>
                            <td>${{ pago.monto }}</td>
                            <td>
                                {% if pago.prestamo %}
                                    {{ pago.prestamo.id }} - {{ pago.prestamo.cliente.nombre }} {{ pago.prestamo.cliente.apellido }}
                                {% else %}
                                    No tiene préstamo asociado
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'pago_editar' pago.id %}">
                                    Editar
                                </a> 
                                / 
                                <a href="#">
                                    Borrar
                                </a>
                        </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="9" class="text-center">No hay pagos registrados.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
            <div class="paginacion" id="sinpagar-paginacion"></div>
        </div>
        <div style="display: flex; align-items: center;"></div>
    </div>
    <div class="card-general">
        <div class="table-container" style="max-width: 100%;">
            <div class="pagos_de_clientes">
                <h2>Pagos de clientes</h2>
                <div>
                    <div style="display: grid; grid-template-columns: 1fr auto; margin-bottom: 10px;">
                        <div>                
                            <div style="margin-bottom: 20px;">
                            <label for="clienteDropdown">Seleccionar cliente:</label>
                            <select id="clienteDropdown" class="form-control" style="max-width: fit-content;">
                                <option value="">-- Seleccione un cliente --</option>
                                {% for cliente in clientes %}
                                    <option value="{{ cliente.id }}">{{ cliente.nombre }} {{ cliente.apellido }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div>
                        <input type="text" id="searchInputClientes" placeholder="Buscar..." class="form-control" style="margin-bottom: 20px; max-width: 100%; ">
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="th sort-both">Id</th>
                            <th class="th sort-both">Fecha de pago</th>
                            <th class="th sort-both">Moneda</th>
                            <th class="th sort-both">Tipo de pago</th>
                            <th class="th sort-both">Referencia</th>
                            <th class="th sort-both">Monto</th>
                            <th class="th sort-both">Préstamo asociado</th>
                        </tr>
                    </thead>
                    <tbody id="pagosClienteTbody">
                        {% for pago in pagos_cliente %}
                        <tr>
                            <td>{{ pago.id }}</td>
                            <td>{{ pago.fecha_pago }}</td>
                            <td>{{ pago.moneda }}</td>
                            <td>{{ pago.tipo_pago }}</td>
                            <td>{{ pago.referencia }}</td>
                            <td>${{ pago.monto }}</td>
                            <td>
                                {% if pago.prestamo %}
                                    {{ pago.prestamo.id }} - {{ pago.prestamo.cliente.nombre }} {{ pago.prestamo.cliente.apellido }}
                                {% else %}
                                    No tiene préstamo asociado
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">No hay pagos registrados para este cliente.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div>
                    <div class="paginacion" id="pagados-paginacion"></div>
                </div>
            </div>
        </div>  
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Manejar el cambio en el dropdown
        $('#clienteDropdown').change(function() {
            var clienteId = $(this).val(); // Obtener el ID del cliente seleccionado

            if (clienteId) {
                // Hacer una solicitud AJAX para obtener los pagos del cliente
                $.ajax({
                    url: '/obtener-pagos-cliente/', // URL de la vista que devuelve los pagos
                    data: {
                        'cliente_id': clienteId
                    },
                    success: function(data) {
                        // Limpiar la tabla
                        $('#pagosClienteTbody').empty();

                        // Si hay pagos, mostrarlos en la tabla
                    if (data.pagos && data.pagos.length > 0) {
                        data.pagos.forEach(function(pago) {
                            $('#pagosClienteTbody').append(
                                `<tr>
                                    <td>${pago.id}</td>
                                    <td>${pago.fecha_pago}</td>
                                    <td>${pago.moneda}</td>
                                    <td>${pago.tipo_pago}</td>
                                    <td>${pago.referencia}</td>
                                    <td>$${pago.monto}</td>
                                    <td>
                                        ${pago.prestamo ? pago.prestamo.id + ' - ' + pago.prestamo.cliente.nombre + ' ' + pago.prestamo.cliente.apellido : 'No tiene préstamo asociado'}
                                    </td>
                                </tr>`
                            );
                        });
                    } else {
                        // Si no hay pagos, mostrar un mensaje
                        $('#pagosClienteTbody').append(
                            `<tr>
                                <td colspan="7" class="text-center">No hay pagos registrados para este cliente.</td>
                            </tr>`
                        );
                    }
                },
                error: function() {
                    // Manejar errores
                    $('#pagosClienteTbody').empty().append(
                        `<tr>
                            <td colspan="7" class="text-center">Error al cargar los pagos.</td>
                        </tr>`
                    );
                }
            });
        } else {
            // Si no se selecciona un cliente, limpiar la tabla
            $('#pagosClienteTbody').empty().append(
                `<tr>
                    <td colspan="7" class="text-center">Seleccione un cliente para ver sus pagos.</td>
                </tr>`
            );
        }
    });
});

// grafico de pagos por dia
$(document).ready(function() {
    $.ajax({
        url: '/obtener-montos-pagos-por-dia/',
        method: 'GET',
        success: function(data) {
            console.log(data);  // Imprime los datos en la consola del navegador

            // Procesar los datos para un gráfico o tabla
            const fechas = data.fechas;
            const montos = data.totales;

            // Ejemplo: Mostrar los datos en un gráfico con Chart.js
            const ctx = document.getElementById('myGraph').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: fechas,
                    datasets: [{
                        label: 'Montos de pagos por día',
                        data: montos,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        },
        error: function() {
            console.error('Error al obtener los montos de pagos por día');
        }
    });
});

// funcion para campo de busqueda
document.addEventListener('DOMContentLoaded', () => {
    const searchInput = document.getElementById('searchInputPagos');
    const tableBody = document.getElementById('pagosTbody');

    searchInput.addEventListener('input', function() {
        const filter = searchInput.value.toLowerCase();
        const rows = tableBody.getElementsByTagName('tr');

        for (let i = 0; i < rows.length; i++) {
            const cells = rows[i].getElementsByTagName('td');
            let found = false;

            for (let j = 0; j < cells.length; j++) {
                const cell = cells[j];
                if (cell) {
                    const textValue = cell.textContent || cell.innerText;
                    if (textValue.toLowerCase().indexOf(filter) > -1) {
                        found = true;
                        break;
                    }
                }
            }

            if (found) {
                rows[i].style.display = ""; // Muestra la fila
            } else {
                rows[i].style.display = "none"; // Oculta la fila
            }
        }
    });
});

// funcion para campo de busqueda
document.addEventListener('DOMContentLoaded', () => {
    const searchInput = document.getElementById('searchInputClientes');
    const tableBody = document.getElementById('pagosClienteTbody');

    searchInput.addEventListener('input', function() {
        const filter = searchInput.value.toLowerCase();
        const rows = tableBody.getElementsByTagName('tr');

        for (let i = 0; i < rows.length; i++) {
            const cells = rows[i].getElementsByTagName('td');
            let found = false;

            for (let j = 0; j < cells.length; j++) {
                const cell = cells[j];
                if (cell) {
                    const textValue = cell.textContent || cell.innerText;
                    if (textValue.toLowerCase().indexOf(filter) > -1) {
                        found = true;
                        break;
                    }
                }
            }

            if (found) {
                rows[i].style.display = ""; // Muestra la fila
            } else {
                rows[i].style.display = "none"; // Oculta la fila
            }
        }
    });
});
  // script para ordenar las tablas
  document.addEventListener('DOMContentLoaded', () => {
    const tables = document.querySelectorAll('table.table'); // Selecciona todas las tablas

    tables.forEach(table => {
        let sortOrder = {};
        const thElements = table.querySelectorAll('th');

        thElements.forEach((th) => {
            th.addEventListener('click', (event) => {
                event.preventDefault();
                const columnIndex = Array.prototype.indexOf.call(th.parentNode.children, th);
                const columnName = th.textContent.trim();
                // Toggle sort order
                if (!sortOrder[columnName]) {
                    sortOrder[columnName] = 'asc';
                } else if (sortOrder[columnName] === 'asc') {
                    sortOrder[columnName] = 'desc';
                } else {
                    sortOrder[columnName] = 'asc';
                }
                // Update class
                th.className = th.className.replace(/sort-asc|sort-desc/, `sort-${sortOrder[columnName]}`);

                // Call sortTable function
                sortTable(table, columnIndex, sortOrder[columnName]);
            });
        });

        function sortTable(table, columnIndex, sortOrder) {
            var rows = Array.prototype.slice.call(table.querySelectorAll('tbody tr'));
            rows.sort(function(rowA, rowB) {
                var cellA = rowA.cells[columnIndex].textContent;
                var cellB = rowB.cells[columnIndex].textContent;
                // Handle numerical values
                if (!isNaN(cellA) && !isNaN(cellB)) {
                    return cellA - cellB;
                }
                // Default to string comparison
                return cellA.localeCompare(cellB);
            });
            // Sort order
            if (sortOrder === 'desc') {
                rows.reverse();
            }
            // Update the table
            rows.forEach(function(row) {
                table.querySelector('tbody').appendChild(row);
            });
        }
    });
});
</script>
{% endblock content %}