{% extends "layouts/base.html" %}
{% load static %}
{% block content %}

<div class="container">
        <div class="card">        
            <div class="card-header">
                <h4 class="card-title">Registrar Pago</h4>
            </div>
        {% if errors %}
        <div class="alert alert-danger">
            <strong>Errores:</strong>
            <ul>
                {% for field, error_list in errors.items %}
                    <li>{{ field }}: {{ error_list|join:", " }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="card-body">
            <div class="cliente-form-container">
                <form method="post" action="{% url 'pago_crear' %}">
                    {% csrf_token %}
                    <!-- Campo: Cliente -->
                    <div class="form-group">
                        <div>
                            <label for="id_cliente">Cliente:</label>
                            <select name="cliente" id="id_cliente" class="form-control" required>
                                {% for cliente in clientes %}
                                    <option value="{{ cliente.id }}">{{ cliente.nombre }} {{ cliente.apellido }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- Campo: Fecha de Pago -->
                    <div class="form-group">
                        <div>
                            <label for="id_fecha_pago">Fecha de Pago:</label>
                            <input type="date" name="fecha_pago" id="id_fecha_pago" class="form-control" required>
                        </div>
                    </div>

                    <!-- Campo: Moneda -->
                    <div class="form-group">
                        <div>
                            <label for="id_moneda">Moneda:</label>
                            <select name="moneda" id="id_moneda" class="form-control" required>
                                {% for moneda in monedas %}
                                    <option value="{{ moneda.id }}">{{ moneda }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- Campo: Tipo de Pago -->
                    <div class="form-group">
                        <div>
                            <label for="id_tipo_pago">Tipo de Pago:</label>
                            <select name="tipo_pago" id="id_tipo_pago" class="form-control" required>
                                {% for tipo_pago in tipos_pago %}
                                    <option value="{{ tipo_pago.id }}">{{ tipo_pago }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- Campo: Referencia -->
                    <div class="form-group">
                        <div>
                            <label for="id_referencia">Referencia del pago:</label>
                            <input type="text" name="referencia" id="id_referencia" class="form-control" required>
                        </div>
                    </div>

                    <!-- Campo: Monto -->
                    <div class="form-group">
                        <div>
                            <label for="id_monto_dolares">Monto:</label> 
                            <input type="number" name="monto_bolivares" id="id_monto_bolivares" class="form-control" required>  
                        </div> 
                    </div> 

                    <!-- Campo: Monto en USD (Referencia) -->
                    <div class="form-group" id="monto_usd_div">
                        <div>
                            <label for="id_monto">Monto en USD (Referencia):</label>
                            <input type="text" name="monto" id="id_monto" class="form-control" readonly>
                        </div>
                    </div>

                    <!-- Campo: Tasa del Día -->
                    <div class="form-group" id="tasa_dia_div">
                        <div>
                            <label for="id_tasa_dia_visible">Tasa del Día:</label>
                            <input type="text" id="id_tasa_dia_visible" class="form-control" value="{{ tasa_cambio }}" readonly>
                        </div>
                    </div>

                     <!-- Campo: Tasa del Día (Oculto) -->
                     <input type="hidden" name="tasa_dia" id="id_tasa_dia" value="{{ tasa_cambio.id }}">

                    <!-- Campo: Préstamo -->
                    <div class="form-group">
                        <div>
                            <label for="id_prestamo">Préstamo:</label>
                            <select name="prestamo" id="id_prestamo" class="form-control">
                                {% for prestamo in prestamos %}
                                    <option value="{{ prestamo.id }}">{{ prestamo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- Botones de Acción -->
                    <div class="button-group">
                        <div class="form-group text-center">
                            <!-- Botón de Guardar -->
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Guardar
                            </button>

                            <!-- Botón de Limpiar Campos -->
                            <button type="reset" class="btn btn-secondary">
                                <i class="fas fa-eraser"></i> Limpiar Campos
                            </button>

                            <!-- Boton de Volver -->
                            <a type="cancel" href="{% url 'pagos' %}" class="btn btn-danger">
                                Cancelar
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    // Script para calcular el valor de referencia en base al monto y la tasa de cambio 
    document.addEventListener('DOMContentLoaded', function() {
        const monedaSelect = document.getElementById('id_moneda');
        const montoInputBolivares = document.getElementById('id_monto_bolivares');
        const montoInputUSD = document.getElementById('id_monto');
        const montoUSDDiv = document.getElementById('monto_usd_div');
        const tasaDiaDiv = document.getElementById('tasa_dia_div');
        const tasaCambio = {{ tasa_cambio|default:"null" }}; // Asegúrate de pasar la tasa de cambio desde el backend
    
        console.log('Tasa de cambio:', tasaCambio);
    
        // Evento change en el campo de selección de moneda
        monedaSelect.addEventListener('change', function() {
            const selectedOptionText = monedaSelect.options[monedaSelect.selectedIndex].text.toLowerCase();
            console.log('Moneda seleccionada:', selectedOptionText);
            if (selectedOptionText.includes('bolivares')) {
                montoUSDDiv.style.display = 'block';
                tasaDiaDiv.style.display = 'block';
                montoInputBolivares.id = 'id_monto_bolivares';
                montoInputBolivares.name = 'monto_bolivares';
                calcularValorRef();
            } else {
                montoUSDDiv.style.display = 'none';
                tasaDiaDiv.style.display = 'none';
                montoInputBolivares.id = 'id_monto';
                montoInputBolivares.name = 'monto';
                montoInputUSD.value = montoInputBolivares.value; // Asegúrate de que el campo monto tenga un valor
            }
        });
    
        // Evento input en el campo de monto
        montoInputBolivares.addEventListener('input', function() {
            const selectedOptionText = monedaSelect.options[monedaSelect.selectedIndex].text.toLowerCase();
            if (selectedOptionText.includes('bolivares')) {
                calcularValorRef();
            } else {
                montoInputUSD.value = montoInputBolivares.value; // Actualiza el valor del campo monto
            }
        });
    
        // Función para calcular el valor de referencia
        function calcularValorRef() {
            const montoBolivares = parseFloat(montoInputBolivares.value);
            if (!isNaN(montoBolivares) && tasaCambio) {
                const valorRef = (montoBolivares / tasaCambio).toFixed(2);
                montoInputUSD.value = valorRef;
            } else {
                montoInputUSD.value = '';
            }
        }
    
        // Llama a la función cuando la página se haya cargado
        window.onload = calcularValorRef;
    
        // Selecciona el elemento select de cliente
        const clienteSelect = document.getElementById('id_cliente');
    
        // Selecciona el elemento select de prestamo
        const prestamoSelect = document.getElementById('id_prestamo');
    
        // Obtén los datos de prestamos desde el contexto de Django
        const prestamos = JSON.parse('{{ prestamos|safe }}');
    
        // Crea un objeto que almacene los prestamos por cliente
        const prestamosPorCliente = {};
    
        // Recorre los prestamos y los almacena en el objeto
        prestamos.forEach(prestamo => {
            const clienteId = prestamo.cliente.id;
            if (!prestamosPorCliente[clienteId]) {
                prestamosPorCliente[clienteId] = [];
            }
            prestamosPorCliente[clienteId].push({
                id: prestamo.id,
                descripcion: prestamo.descripcion
            });
        });
    
        // Función para filtrar los prestamos por cliente
        function filtrarPrestamos() {
            const clienteId = clienteSelect.value;
            const prestamos = prestamosPorCliente[clienteId];
            if (prestamos) {
                // Limpia el select de prestamo
                prestamoSelect.innerHTML = '';
                // Agrega los prestamos del cliente seleccionado
                prestamos.forEach(prestamo => {
                    const option = document.createElement('option');
                    option.value = prestamo.id;
                    option.text = prestamo.descripcion;
                    prestamoSelect.appendChild(option);
                });
            } else {
                // Limpia el select de prestamo
                prestamoSelect.innerHTML = '';
            }
        }
    
        // Agrega un evento de cambio al select de cliente
        clienteSelect.addEventListener('change', filtrarPrestamos);
    
        // Llama a la función para filtrar los prestamos al cargar la página
        filtrarPrestamos();
    });
    </script>
{% endblock content %}