{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Detalles del Préstamo</h4>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Cliente</th>
                        <td>{{ prestamo.cliente }}</td>
                    </tr>
                    <tr>
                        <th>Fecha del Préstamo</th>
                        <td>{{ prestamo.fecha_prestamo }}</td>
                    </tr>
                    <tr>
                        <th>Fecha de Pago</th>
                        <td>{{ prestamo.fecha_pago }}</td>
                    </tr>
                    <tr>
                        <th>Monto del Préstamo</th>
                        <td>${{ prestamo.monto_prestamo }}</td>
                    </tr>
                    <tr>
                        <th>Monto Pagado</th>
                        <td>${{ prestamo.monto_pago }}</td>
                    </tr>
                    <tr>
                        <th>Monto a Pagar</th>
                        <td>${{ prestamo.monto_a_pagar }}</td>
                    </tr>
                    <tr>
                        <th>Tasa de Interés</th>
                        <td>{{ prestamo.tasa_interes }}%</td>
                    </tr>
                    <tr>
                        <th>Estado</th>
                        <td>{{ prestamo.pagado|yesno:"Pagado,No Pagado" }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group text-center">
                <a href="{% url 'prestamo_editar' prestamo.id %}" class="btn btn-primary">Editar</a>
                <a href="{% url 'prestamo_borrar' prestamo.id %}" class="btn btn-danger">Eliminar</a>
                <a href="{% url 'prestamos' %}" class="btn btn-secondary">Volver</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}