{% extends 'layouts/base.html' %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Editar Préstamo</h4>
        </div>
        {% if errors %}
        <div class="alert alert-danger">
            <strong>Errores:</strong>
            <ul>
                {% for field, error_list in errors.items %}
                    <li>{{ field }}: {{ error_list|join:", " }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="card-body">
            <div class="cliente-form-container">
                <form method="post" action="{% url 'prestamo_editar' prestamo.id %}">
                    {% csrf_token %}

                    <!-- Campo: Cliente -->
                    <div class="form-group">
                        <div>
                            <label for="id_cliente">Cliente:</label>
                            <div>
                                {{ form.cliente }}
                            </div>
                        </div>
                    </div>

                    <!-- Campo: Fecha de Préstamo -->
                    <div class="form-group">
                        <div>
                            <label for="id_fecha_prestamo">Fecha de Préstamo:</label>
                            <div>
                                <input type="date" name="fecha_prestamo" value="{{ form.fecha_prestamo.value|date:'Y-m-d' }}" id="id_fecha_prestamo">
                            </div>
                        </div>
                    </div>

                    <!-- Campo: Fecha de Pago -->
                    <div class="form-group">
                        <div>
                            <label for="id_fecha_pago">Fecha de Pago:</label>
                            <div>
                                <input type="date" name="fecha_pago" value="{{ form.fecha_pago.value|date:'Y-m-d' }}" id="id_fecha_pago">
                            </div>
                        </div>
                    </div>

                    <!-- Campo: Monto del Préstamo -->
                    <div class="form-group">
                        <div>
                            <label for="id_monto_prestamo">Monto del Préstamo:</label>
                            <div>
                                {{ form.monto_prestamo }}
                            </div>
                        </div>
                    </div>

                    <!-- Campo: Monto Pagado -->
                    <div class="form-group">
                        <div>
                            <label for="id_monto_pago">Monto Pagado:</label>
                            <div>
                                {{ form.monto_pago }}
                            </div>
                        </div>
                    </div>

                    <!-- Campo: Monto a Pagar -->
                    <div class="form-group">
                        <div>
                            <label for="id_monto_a_pagar">Monto a Pagar:</label>
                            <div>
                                {{ form.monto_a_pagar }}
                            </div>
                        </div>
                    </div>

                    <!-- Campo: Tasa de Interés -->
                    <div class="form-group">
                        <div>
                            <label for="id_tasa_interes">Tasa de Interés (%):</label>
                            <div>
                                {{ form.tasa_interes }}
                            </div>
                        </div>
                    </div>

                    <!-- Campo: Pagado -->
                    <div class="form-group">
                        <div>
                            <label for="id_pagado">Pagado:</label>
                            <div>
                                {{ form.pagado }}
                            </div>
                        </div>
                    </div>

                    <!-- Botones de Acción -->
                    <div class="button-group">
                        <div class="form-group text-center">
                            <!-- Botón de Guardar -->
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Guardar
                            </button>

                            <!-- Botón de Limpiar Campos -->
                            <button type="reset" class="btn btn-secondary">
                                <i class="fas fa-eraser"></i> Limpiar Campos
                            </button>

                            <!-- Botón de Volver -->
                            <a href="{% url 'prestamos' %}" class="btn btn-danger">
                                Cancelar
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}