{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="detalles-container">
        <div class="left-column">
            <div class="card-left">
                <h5>Información Básica</h5>
                <p>Tipo de persona: {{ clientes.tipo_persona }}</p>
                <p>Nombre: {{ clientes.nombre }}</p>
                <p>Apellido: {{ clientes.apellido }}</p>
                <p>Genero: {{ clientes.nombre }}</p>
                <p>Fecha de Nacimiento: {{ clientes.fecha_nacimiento }}</p>
            </div>
            <div class="card-left">
                <h5>Información Adicional</h5>
                <p>Modificado Por: </p>
                <p>Ultimo pago: </p>
                <p>Prestamos activos: </p>
                <p>Prestamos pagados: </p>
            </div>
        </div>
        <div class="right-column">
            <div class="card-right">
                <h5>Direcciones</h5>
                <p>Direccion 1: {{ clientes.direccion_1 }}</p>
                <p>Direccion 2: {{ clientes.direccion_2 }}</p>

            </div>
            <div class="card-right">
                <h5>Documento de Identidad</h5>
                <p>Cedula de identidad: {{ clientes.cedula }}</p>
                <p>RIF: {{ clientes.rif }}</p>
            </div>
            <div class="card-right">
                <h5>Información de Contacto</h5>
                <p>Correo 1: {{ clientes.email_1 }}</p>
                <p>Correo 2: {{ clientes.email_2 }}</p>
                <p>Numero de telefono: {{ clientes.numero_telefono }}</p>
                <p>Numero local: {{ clientes.numero_local }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}