{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almacen de Compras</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="#">
                <img src="{% static 'img/logo.png' %}" alt="FUNDASALUD CCS">
            </a>
        </div>
        {% comment %} <div class="mode-toggle">
            <img src="{% static 'img/moon.svg' %}" alt="Modo oscuro" id="mode-toggle-btn">
        </div> {% endcomment %}
        <div class="menu">
            <img src="{% static 'img/menu.svg' %}" alt="Menú">
            <div class="menu-items">
                {% if user_is_authenticated %}
                
                <form method="POST" action="#">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Cerrar Sesión</button>
                </form>

                <button class="btn btn-info" onclick="location.href='#';">Inventario</button>
                <button class="btn btn-info" onclick="location.href='#';">Facturas</button>
                <button class="btn btn-info" onclick="location.href='#';">Proveedores</button>    
                {% else %}
                    <button class="btn btn-primary" onclick="location.href='#';">Iniciar Sesión</button>
                {% endif %}

            </div>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="logo">
            <a href="#">
                <img src="{% static 'img/logo.png' %}" alt="FUNDASALUD CCS">
            </a>
        </div>
        <p>&copy; 2024 FUNDASALUD CCS. Todos los derechos reservados.</p>
    </footer>

</body>
</html>