{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mar-Eri prestamos</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link  rel="stylesheet" type="text/css" href="https://bootswatch.com/5/zephyr/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="#">
                <img src="{% static 'img/logo.png' %}" alt="MAR-ERIPRESTAMOS">
            </a>
        </div>
        {% comment %} <div class="mode-toggle">
            <img src="{% static 'img/moon.svg' %}" alt="Modo oscuro" id="mode-toggle-btn">
        </div> {% endcomment %}
        <nav>
            <ul class="menu">
                {% if user_is_authenticated %}
                <li><a href="#">Préstamos</a>
                    <ul class="submenu">
                        <li><a href="{% url 'prestamos' %}">Prestamos</a></li>
                        <li><a href="{% url 'prestamos_pagados' %}">Prestamos pagados</a></li>
                        <li><a href="{% url 'prestamos_sin_pagar' %}">Prestamos sin pagar</a></li>
                        <li><a href="{% url 'prestamo_crear' %}">Registrar prestamo</a></li>
                    </ul>
                </li>
                <li><a href="#">Clientes</a>
                    <ul class="submenu">
                        <li><a href="{% url 'clientes' %}">Clientes</a></li>
                        <li><a href="{% url 'cliente_crear' %}">Registrar cliente</a></li>
                    </ul>
                </li>
                <li><a href="#">Pagos</a>
                    <ul class="submenu">
                        <li><a href="{% url 'pagos' %}">Pagos</a></li>
                        <li><a href="{% url 'pago_crear' %}">Registrar Pago</a></li>
                    </ul>
                </li>
                <li><a href="#">Tasa del dia</a>
                    <ul class="submenu">
                        <li><a href="#">Historico de Tasas</a></li>
                        <li><a href="#">Registrar Tasa del Dia</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="logout-container">
                <li>
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Cerrar Sesión</button>
                    </form>
                </li>
            </ul>
            {% else %}
            <ul class="logout-container">
                <li><a class="custon-login" onclick="location.href="{% url 'login' %}">Iniciar Sesión</a></li>
            </ul>
                {% endif %}
        </nav>=
    </header>

    <main>     
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="logo">
            <a href="#">
                <img src="{% static 'img/logo.png' %}" alt="FUNDASALUD CCS">
            </a>
        </div>
        <p>&copy; 2024 MAR-ERIPRESTAMOS. Todos los derechos reservados.</p>
    </footer>

</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    const menuItems = document.querySelectorAll('.menu > li');

    // Función para cerrar todos los submenús
    function closeAllSubmenus() {
        menuItems.forEach(item => {
            item.classList.remove('active');
        });
    }

    // Agregar evento de clic a cada elemento del menú
    menuItems.forEach(item => {
        item.addEventListener('click', function (event) {
            // Evitar que el clic se propague al documento
            event.stopPropagation();

            // Cerrar todos los submenús antes de abrir el actual
            if (!item.classList.contains('active')) {
                closeAllSubmenus();
            }

            // Alternar la clase "active" en el elemento clicado
            item.classList.toggle('active');
        });
    });

    // Cerrar todos los submenús al hacer clic en cualquier parte del documento
    document.addEventListener('click', function () {
        closeAllSubmenus();
    });
});
</script>
</html>