body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex; /* Hacemos el body un flex container */
    flex-direction: column; /* Ordenamos los elementos de arriba hacia abajo */
    min-height: 100vh; /* Asegura que la altura del body sea al menos la altura de la viewport */
}

header {
    background-color: #696969;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
}

footer {
    margin-top: auto;
    background-color: #444;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}


.logo img {
    width: 5vh;
}
/* menu */

.menu {
    position: relative;
}

nav {
    display: flex; /* Use flexbox for the nav */ /* Align items to the right */
    width: 100%; /* Ensure nav takes full width */
}

nav ul {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: left;
    text-align: center;
    list-style: none;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
    align-content: center; /* Space between items */
}
/* Estilos generales para el contenedor */
.container {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
    padding: 20px; /* Espaciado interno */
}

.container-graficos{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

.main-container {
    display: block;
    justify-content: space-between;
    margin-bottom: 20px; /* Espacio entre la sección principal y la información de contacto */
}
.detalles-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Espacio entre la sección principal y la información de contacto */
}
.left-column, .right-column {
    display: flex;
    flex-direction: column;
    width: 48%; /* Ajusta el ancho según sea necesario */
}

/* crear cliente site */
.tarjeta-body {

    gap: 20px; /* Espacio entre card-left y card-right */
}

.button-group {
    margin-top: 20px;
}

form{
    justify-items: left;
}

.form-group {
    display: flex;
    margin-right: 30px;
    gap: 15px;
    justify-content: center; 
    max-width:100%;
    margin-bottom: 20px;
}

.form-group p {
    align-items: left;
    margin-bottom: 5vh;
    text-align: left;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    
}

.form-group input,
.form-group select,
.form-group textarea {
    font-size: 15px;
    width: 400px; 
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.cliente-tarjeta-left,
.cliente-tarjeta-right {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 0; /* Cambia esto */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1; /* Ambos elementos ocupan el mismo espacio */
}

.card-body{
    justify-items: center;
}

.card-left {
    border: 1px solid #ccc;
    border-radius: 15px;
    max-width: 100%;
    padding: 15px;
    margin-bottom: 20px; /* Espacio entre tarjetas */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.card-right {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px; /* Espacio entre tarjetas */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.card:last-child {
    margin-bottom: 0; /* Elimina el margen inferior de la última tarjeta */
}

.logout-container {
    justify-content: right;
    margin-left: auto; /* Push the logout button to the right */
}

.table-container, .table-container_monto  {
    max-width: 100%;
    margin-left: auto;
    flex: 1; /* Allow the table to take available space */
    margin-right: 20px; /* Space between table and graph */
}

/* LOGIN */
.card-login {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Ajusta el ancho según sea necesario */
    margin: 0 auto; /* Centra la tarjeta */
}

.card-login h2 {
    text-align: center;
    margin-bottom: 20px;
}

.card-login form {
    display: flex;
    flex-direction: column; /* Los elementos se apilan verticalmente */
    gap: 15px; /* Espacio entre los elementos */
}

.card-login .form-group {
    display: flex;
    flex-direction: column; /* Etiqueta y campo de entrada en columna */
    gap: 5px; /* Espacio entre la etiqueta y el campo de entrada */
}

.card-login label {
    font-weight: bold;
}

.card-login input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    max-width: 100%;
}

.card-login button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.card-login button:hover {
    background-color: #0056b3;
}
/* Estilo para la tarjeta de Información General */
.card-general {
    width: 100%; /* Ancho del 80% */
    margin: 20px auto; /* Centrar la tarjeta y agregar margen superior e inferior */
    padding: 20px; /* Espaciado interno */
    background-color: #f8f9fa; /* Color de fondo */
    border: 1px solid #dee2e6; /* Borde */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}
.card-general-info {
    display: flex;
    margin-right: 20px;
    justify-content: flex-start; /* Alinear a la izquierda */
    gap: 20vh; /* Espacio entre los elementos */
}
/* Estilo para las tarjetas en la fila */
.row {
    display: flex; /* Usar flexbox para alinear las tarjetas en fila */
    justify-content: space-between; /* Espacio entre las tarjetas */
    margin-top: 20px; /* Margen superior */
}

/* Estilo para cada tarjeta */
.card-transacciones, .card-volumen, .card-prestamos {
    align-items: center;
    flex: 1; /* Cada tarjeta ocupará el mismo espacio */
    margin: 0 10px; /* Margen lateral entre tarjetas */
    padding: 20px; /* Espaciado interno */
    background-color: #f8f9fa; /* Color de fondo */
    border: 1px solid #dee2e6; /* Borde */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

.paginacion {
    display: flex;                /* Activa Flexbox */
    justify-content: center;      /* Centra los elementos horizontalmente */
    gap: 10px;                    /* Espacio entre los botones */
    margin-top: 10px;             /* Margen superior */
}

.paginacion a {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.paginacion a:hover {
    background-color: #0056b3;
}

.card-transacciones {
    width: 100%;                  /* Ancho de la tarjeta */
    height: 400px;                /* Altura fija de la tarjeta */
    overflow: hidden;             /* Oculta el contenido que no quepa */
    border: 1px solid #ccc;       /* Borde opcional */
    border-radius: 10px;          /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    padding: 20px;                /* Espaciado interno */
}

.card-volumen {
    display: flex;                /* Activa Flexbox */
    flex-direction: column;       /* Organiza los elementos en columna */
    justify-content: center;      /* Centra verticalmente */
    align-items: center;          /* Centra horizontalmente */
    text-align: center;           /* Centra el texto */                /* Asegura que la tarjeta tenga altura */
}

.graph-container {    flex: 1; /* Cada tarjeta ocupará el mismo espacio */
    padding: 20px; /* Espaciado interno */
    background-color: #f8f9fa; /* Color de fondo */
    border: 1px solid #dee2e6; /* Borde */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */flex: 1; /* Allow the graph to take available space */
    margin: 20px;/* You can set a specific width or height if needed */
}
/* Asegurarse de que las tarjetas no se reduzcan demasiado en pantallas pequeñas */
@media (max-width: 768px) {
    .row {
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
    }
    .card-transacciones,
    .card-total-pagado,
    .card-pagos-totales {
        margin: 10px 0; /* Margen vertical entre tarjetas */
    }
}

nav ul li a {
    text-decoration: none; /* Remove underline from links */
    color: white; /* Link color */
}

header nav ul li a.custom-login-link {
    color: yourColor; /* Replace with your desired color */
}

nav ul li a:hover {
    color: white;
    text-decoration: underline; /* Underline on hover */
}

table {
    border: 2px solid #dee2e6(0, 0, 0, 0); /* Your custom border color */
    border-collapse: collapse; /* Ensures borders are collapsed into a single border */
    border-radius: 10px; /* Adjust the value for more or less rounding */
    overflow: hidden; /* Ensures the rounded corners are visible */
}
th, td {
    border: 1px solid #dee2e6; /* Your custom border color for cells */
    padding: 8px; /* Optional: adds padding inside cells */
}

.main-card th,
.login-card th {
    background-color: #f2f2f2;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 21px;
}

th.sort-asc {
    background-image: url(/static/img/sort_up.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

th.sort-desc {
    background-image: url(/static/img/sort_down.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

th.sort-both {
    background-image: url(/static/img/sort_both.svg);
    background-repeat: no-repeat;
    background-position: center right;
    .show {
        display:grid;
    }
}

.main-card {
    background-color: #ffffff;
    padding: 4vmin;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 70vh;
    max-width: 80vw; /* Ancho máximo de la tarjeta */
    overflow-y: auto;
    display: auto;
}
/* main card */
.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; /* Centrar verticalmente */
    max-width: 100%; /* Add this to prevent horizontal overflow */
}

/* login page */
.group-center{
    margin-top: 20vh;
    display: flex;
    align-items: center;
    height: 100vh;
    max-width: 100%;
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Centrar verticalmente */
    max-width: 100%; /* Add this to prevent horizontal overflow */
    box-sizing: border-box; /* Add this to include padding and border in width calculation */

}

.login-card h2 {
    margin-bottom: 20px; /* Add some space between the h2 and the form */
}

.login-card form {
    display: block;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.login-card th {
    background-color: #f2f2f2;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 21px;
}

.login-card label {
    margin-bottom: 10px;
}

/* boostrap buttons */
.btn:hover {
    background-color: #0056b3;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}
.btn-primary:hover {
    background-color: #0062cc;
}

.btn-secondary {
    background-color: #949ca2;
    color: white;
}
.btn-secondary:hover {
    background-color: #545b62;
}

.btn-success {
    background-color: #28a745;
    color: white;
}
.btn-success:hover {
    background-color: #208038;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}
.btn-danger:hover {
    background-color: #c82333;
}

.btn-warning {
    background-color: #ffc107;  

    color: black;
}
.btn-warning:hover {
    background-color: #d39e00;
}

.btn-info {
    background-color: #b7d5d4;
    color: white;
}
.btn-info:hover {
    background-color: #117a8b;
}

/* sort table or list */

th.sort-asc {
    background-image: url(/static/img/sort_up.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

th.sort-desc {
    background-image: url(/static/img/sort_down.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

th.sort-both {
    background-image: url(/static/img/sort_both.svg);
    background-repeat: no-repeat;
    background-position: center right;
}
