body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex; /* Hacemos el body un flex container */
    flex-direction: column; /* Ordenamos los elementos de arriba hacia abajo */
    min-height: 100vh; /* Asegura que la altura del body sea al menos la altura de la viewport */
}


header {
    background-color: #f0f0f0;
    padding: 2vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    margin-top: auto; /* Empuja el footer al final */
    background-color: #f0f0f0;
    padding: 1vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 10vw;
}

/* alternar modo claro y oscuro 
.mode-toggle img {
    cursor: pointer;
    width: 25px;  
} */

.menu {
    position: relative;
}

.menu img {
    cursor: pointer;
    width: 2vw;
}

.menu-items {
    display: none;
    border-radius: 15px;
    position: absolute;
    padding: 2vmin;
    background-color: #f9f9f9;
    min-width: 8vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    text-align: right;
}

.show {
    display:grid;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Centrar verticalmente */
    overflow-y: auto; /* Add this to enable vertical scrolling */
    max-width: 100%; /* Add this to prevent horizontal overflow */
    box-sizing: border-box; /* Add this to include padding and border in width calculation */
    overflow-x: auto;
}

.container-proveedores {
    display: flex;
    flex-grow: 1; /* make the container flexible */
    justify-content: center;
    align-items: center;
    height: 80vh;
    overflow-y: auto;
    overflow-x: auto;
    max-width: 100%;
    box-sizing: border-box;
}

.container-inventario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.container-update {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.login-card {
    background-color: #ffffff;
    padding: 6vmin;
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100% ; /* Ancho máximo de la tarjeta */
    text-align: center;  /* Centramos el título */
    display: block;
    overflow-y: auto;
}

.inventario-card {
    background-color: #ffffff;
    padding: 4vmin;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 80vw; /* Ancho máximo de la tarjeta */
    text-align: center;  /* Centramos el título */
    overflow-y: auto;
    display: auto;
}

.update-card {
    background-color: #ffffff;
    padding: 6vmin;
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 35vw; /* Ancho máximo de la tarjeta */
    text-align: center;  /* Centramos el título */
    display: block;
}

.inventario-card .form-group {
    display: grid;

}

.login-card h2,
.inventario-card h2,
.inventario-card h1 {
    margin-bottom: 1.5vh;
    font-size: 6vmin;
}

.inventario-card table,
.login-card table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2vh;
    margin-right: 2vh;
}

.login-card th,
.login-card td, 
.inventario-card th,
.inventario-card td {
    padding: 1vmin 2vmin;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

.buttons-div {
    text-align: center;
}
.inventario-card th,
.login-card th {
    background-color: #f2f2f2;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 21px;
}

th.sort-asc {
    background-image: url(/static/img/sort_up.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

th.sort-desc {
    background-image: url(/static/img/sort_down.svg);
    background-repeat: no-repeat;
    background-position: center right;
}

th.sort-both {
    background-image: url(/static/img/sort_both.svg);
    background-repeat: no-repeat;
    background-position: center right;
}
.inventario-card td,
.login-card td {
    font-size: 3vmin;
}

.form-group {
    margin-bottom: 5vh;
    text-align: left; /* Alinear los campos del formulario a la izq */
}

.form-group input,
.form-group textarea {
    width: 94%; /* Hacer que los campos ocupen todo el ancho */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group select {
    width: 92%; /* Hacer que los campos ocupen todo el ancho */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 6px;
}

.form-group p {
    margin-bottom: 5vh;
    text-align: left; /* Alinear los campos del formulario a la derecha */
    width: 97%; /* Hacer que los campos ocupen todo el ancho */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}
.btn-primary:hover {
    background-color: #0062cc;
}

.btn-secondary {
    background-color: #949ca2;
    color: white;
}
.btn-secondary:hover {
    background-color: #545b62;
}

.btn-success {
    background-color: #28a745;
    color: white;
}
.btn-success:hover {
    background-color: #208038;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}
.btn-danger:hover {
    background-color: #c82333;
}

.btn-warning {
    background-color: #ffc107;  

    color: black;
}
.btn-warning:hover {
    background-color: #d39e00;
}

.btn-info {
    background-color: #17a2b8;
    color: white;
}
.btn-info:hover {
    background-color: #117a8b;
}